body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {

    text-align: left;
    padding: 40px;
    background-image: url('image.jpg');
    background-size: cover;

}

/* background-color: blueviolet; */
.topnav {
    background-color: coral;
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 100%;

}

.menu {
    background-color: blue;
    text-align: left;
    padding: 10px;
}

.container {
    display: flex;
    flex: 1;
}

aside {
    background-color: darkgreen;
    text-align: left;
    padding: 20px;
    width: 150px;
}

.maincontent {
    background-color: darkgoldenrod;
    text-align: center;
    padding: 20px;
    flex: 1;
}

.subcontent {
    display: flex;
    background-color: darkgoldenrod;
    text-align: center;
    padding: 10px;

}

.subcontent1 {
    background-color: darkgoldenrod;
    text-align: center;
    padding: 5px;
    flex: 1;
    width: 50%;
    float: left;

}

section {
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
}